name: Python application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          # Install bandit specifically
          pip install bandit

      - name: Lint with Ruff
        run: |
          pip install ruff
          ruff --output-format=github .
        continue-on-error: true

      - name: Install Sphinx
        run: |
          pip install sphinx

      - name: Security Scan
        run: |
          # Run bandit scanner excluding myenv directory and ignore issues with severity "low"
          bandit -r . --exclude ./myenv --severity-level medium,high

      - name: Check for outdated dependencies
        run: |
          pip list --outdated

      - name: Build Documentation
        run: |
          # Build documentation with Sphinx
          sphinx-build -b html docs/source/ docs/build/

      - name: Run all Test Cases
        run: |
          python RunAndTestSolutions.py

      - name: Notify on Completion
        run: echo "Workflow completed successfully!"
